.wrapper .homepage-bodyy {
    height: 60rem;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.4));
    /* background: url(./image/emil-widlund-xrbbXIXAWY0-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxx {
    width: 60%;
    padding: 2.5rem;
    border: 1px solid #1b0000;
    background: #f25a14;
    opacity: .7;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 0 3rem rgba(188, 200, 20, 0.5);
}

.boxx hr {
    width: 50%;
    margin: 1rem auto;
}


.boxx button {
    width: 50%;
    padding: 6px 12px;
    margin: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 0.9rem;
    background-color: rgb(4, 102, 102);
    outline: none;
    border: none;
    text-shadow: 0 0 2px red;
}
