.wrapper .profile_body {
    height: 80rem;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.4));
    /* background: url(./image/emil-widlund-xrbbXIXAWY0-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}

.profile_box {
    width: 95%;
    padding: 1.5rem;
    border: 1px solid #1b0000;
    background: #f25a14;
    opacity: .7;
    /* text-align: center; */
    border-radius: 1.5rem;
    box-shadow: 0 0 3rem rgba(188, 200, 20, 0.5);
    height: 70rem;
}

.update_container {
    width: 60%;
    margin: 0.3rem auto;
    background-color: #1b0000;
    padding: 1.5rem;
    text-align: center;
}

.update_container form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update_container input {
    width: 100%;
    padding: 1rem 2rem;
    margin: 1rem auto;
    color: #1b0000;
    font-size: 1.4rem;
}

.update_container button {
    width: 80%;
    padding: 1rem 2rem;
    margin: 1rem auto;
    color: #1b0000;
    font-size: 1.4rem;
}

#show_password {
    background-color: rgb(148, 247, 148);
    border: none;
    outline: none;
}